@use "sass:string";
$base00: #{"@base00"};
$base01: #{"@base01"};
$base02: #{"@base02"};
$base03: #{"@base03"};
$base04: #{"@base04"};
$base05: #{"@base05"};
$base06: #{"@base06"};
$base07: #{"@base07"};
$base08: #{"@base08"};
$base09: #{"@base09"};
$base0A: #{"@base0A"};
$base0B: #{"@base0B"};
$base0C: #{"@base0C"};
$base0D: #{"@base0D"};
$base0E: #{"@base0E"};
$base0F: #{"@base0F"};

$bar-height: 50px;
$start-menu-width: 3.5rem;
$workspace-overview-button-width: 70px;

$border-radius: 10px;

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}
window {
    all: unset;    

}

button {
    all: unset;
    background-color: $base01;
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    transition: all 150ms ease-in-out;
    color: $base05;
    &:hover {
        background-color: $base02;
    }
    &:active {
        background-color: $base03;
    }
}
entry {
    background-color: $base01;
    border-radius: $border-radius;
    border: transparent 4px solid;
    &:focus {
        border: $base02 4px solid;
    }
}
.window-title, .clock {
    padding: 0px 1rem;
    color: $base05
}
.right-side {
    button {
        
        all: unset;
        min-height: $bar-height;

        &:hover {
            background-color: $base01;
        }
        &.start-menu {
            border-radius:  $border-radius;
            transition: all 50ms ease-in-out;
            font-size: 125%;
            min-width: $start-menu-width;

            color: $base07;
            &:hover {
                font-size: 150%;
            }
            &:active {
                font-size: 100%;
            }
        }
        &.workspace-overview {
            border-radius: $border-radius;
            min-width: $workspace-overview-button-width;
            color: $base05;
        }
    }
}
.toggle-dashboard-button {
    border-radius:  $border-radius;
    transition: all 50ms ease-in-out;
    font-size: 125%;
    min-width: 1.6rem;
    color: $base07;
    min-height: 2rem;
    background-color: $base00;
    &:hover {
        font-size: 150%;
        background-color: $base01;
    }
    &:active {
        font-size: 100%;
    }
}
window.start-menu {
    .start-menu-container {
        $app-icon-height: 7rem;
        .page {
            padding: 2rem;
            box-shadow: 0px 0px 10px black;
            margin-bottom: 30px;
            margin-right: 30px;
            border-bottom-right-radius: $border-radius;
            min-width: 700px;
            background-color: $base00;
            
        }
        .section-title {
            font-size: 20px;
            font-weight: bold;
            color: $base05;
            margin-bottom: 16px;
        }
        .app-icon, .folder-icon {
            all: unset;
            min-width: 70px;
            min-height: $app-icon-height;
            border: none;
            border-radius: 1rem;
            font-size: small;
            color: $base05;
            transition: all 150ms ease-in-out;
            padding: 10px;
            font-weight: 500;

            .folder-button-icon, .app-button-icon {
                
                font-size: 3rem;
                transition: all 150ms ease-in-out;
            }
            .app-button-icon {
                min-width: 3rem;
                min-height: 3rem;
            }
            .folder-button-icon {
                min-width: 3rem;
                min-height: 4rem;
            }
            .home-icon {
                margin-left: -1.25rem;
            }
            .downloads-icon {
                margin-left: -1.25rem;
            }
            .projects-icon {
                margin-left: -1.25rem;
            }
            &:hover {
                background-color: $base02;
            }
            &:active {
                background-color: $base03;
                .folder-button-icon, .app-button-icon {
                    font-size: 2rem;
                }

                .home-icon {
                    margin-left: -0.775rem;
                }
                .downloads-icon {
                    margin-left: -0.775rem;
                }
                .projects-icon {
                    margin-left: -0.775rem;
                }
            }
        }
        .folder-icon {
            color: $base05;
        }
        box.app-grid {
            min-height: calc(($app-icon-height + 40px) * 2);
        }
        box.Applauncher {
            border-radius: 11px;
            entry {
                margin-bottom: .8rem;
            }

            button {
                min-width: 0;
                min-height: 0;
                padding: .5rem;
                background: none;
                transition: all 100ms ease-in-out;
                border-radius: 0px;
                &:focus {
                    background-color: $base05;
                    color: $base00;

                    label.description {
                        color: gtkalpha($base00, .8);
                    }
                }
                icon {
                    font-size: 3em;
                    margin-right: .3rem;
                }

                label.name {
                    font-weight: bold;
                    font-size: 1.1em
                }

                label.description {
                    color: gtkalpha($base05, .8);
                    font-weight: normal;
                    font-size: 0.8em;
                }
            }

            box.not-found {
                padding: 1rem;

                icon {
                    font-size: 6em;
                    color: gtkalpha($base05, .7);
                }

                label {
                    color: gtkalpha($base05, .9);
                    font-size: 1.2em;
                }
            }
        }
    }
}